* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    color: #000;
    background-color: #FCF3FC;
    font-size: 15px;
    letter-spacing: 0.3px;
    font-family: 'Questrial', sans-serif;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.container {
    width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.main__block {
    display: flex;
    width: 100%;
}

.main__block li {
    list-style-position: inside;
    margin-top: 3%;
}

.cv__avatar {
    display: block;
    margin: 15% auto;
    width:70%;
    border-radius: 100%;
}

.aside__content {
    width: 33%;
    color: #fff;
    background-color: #412040;
}

.aside__heading {
    font-size: 1.1em;
    text-transform: uppercase;
}
.aside__content li {
    list-style-type: none;
    margin-bottom: 3%;
}

.aside__icon {
    display: inline-block;
    width: 6%;
    margin-right: 5%;
}

.aside__block {
    margin-bottom: 10%;
}

.aside__heading {
    margin-left: 10%;
    padding-bottom: 5%;
    font-size: 1.5em;
}

.small__content {
    display: flex;
    text-align: center;
}

.small__content a {
    text-decoration: none;
    color: #FCF3FC;
    font-size: 1.1em;
    transition:  0.3s ease;
}

.small__content a:hover{
    color: #9b5899;
}

.aside__skills li {
    padding-top: 2%;
}
.star__skill {
    margin-top: 1%;
    width: 8%;
}
.main__content {
    background-color: #fff;
    width: 67%;
}

.personal {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

h1 {
    margin-bottom: 4%;
    font-size: 3em;
}

.cv__section {
    margin-right: 20%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.main__heading {
    padding-bottom: 3%;
    font-size: 1.5em;
    color:#412040;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
}

.education__heading {
    margin-bottom: 3%;
    font-size: 1.2em;
    font-weight: bold;
}
.first__education {
    margin-bottom: 5%;
}
.first__education p {
    margin-bottom: 2%;
    font-style: italic;
}
.first__education span {
    color: #412040;
    font-weight: bold;
}

.ex {
    background-color: #FCF3FC;
}

.lang__skills li {
    font-size: 1.2em;
}

.projects__list>li>p{
    font-size: 1.1em;
    padding-top: 6px;
    font-style: italic;
}
.projects__list>li>a{
    text-decoration: none;
    color: #412040;
    font-weight: 900;
    font-size: 1.2em;
    transition: 0.3s ease;
}
.projects__list>li>a:hover{
    color: #9b5899;
}

.footer {
    background-color: #28182A;
}
.footer__link {
    display: flex;
    padding-left: 4%;
    padding-right: 7%;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 100px;
    height: 50px;
    background: url(img/rs_school_js.svg) center no-repeat;
    background-size:  contain;
}

.github__link {
    text-decoration: none;
    color: #FCF3FC;
    font-size: 1.5em;
    transition: 0.3s ease;
}

.github__link:hover {
    color: #dfd3df;
}

.github__link h5 {
    display: block;
    font-weight: bold;
}

.year {
    margin-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.year h5 {
    color: #dfd3df;
    font-size: 1.1em;
}
